<footer class="bg-gray-500">
	
	<div class="p-10 flex justify-center items-center">
		<img class="w-[90px]" th:src="@{/img/logo.jpg}"  alt="...">&nbsp;
	</div>	
		<p class="text-center text-gray-300 text-2xl">Teusaquilloev@gmail.com</p><br>
	<div class="p-3 flex justify-center items-center">
		<a href=""><i class="fa-brands fa-square-twitter fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href=""> <i class="fa-brands fa-square-facebook fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href=""><i class="fa-brands fa-square-instagram fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href=""><i class="fa-brands fa-youtube fa-bounce fa-3x"></i></a>
	</div>
	<p class="text-center text-gray-300 text-lg">Sitio Web Diseñado Por: Diego Fabian Cediel Diaz</p>
	<p class="text-center text-gray-300 text-lg">©Copyright 2021 - Todos los derechos reservados Gobierno de Colombia</p>
	
</footer>
